# requirements for flask

Fabric~=2.6.0
Flask-SQLAlchemy
Flask-WTF
WTForms~=2.3.3
coverage
# ecdsa
# paramiko
# pycrypto

Flask~=1.1.2
Werkzeug~=1.0.1
msal~=1.10.0
SQLAlchemy~=1.4.3

# requirements for slack module
python-dotenv==0.15.0
requests==2.25.1
slack-sdk==3.4.2
urllib3==1.26.4

# requirements for zulip
zulip
