{% extends 'layouts/main.html' %}
{% block title %}Friend Status | Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Friend Status</h1>
  </div>
  <a type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" method="get" href="{{ url_for('register') }}">Register</a>
  <a type="submit" value="Submit" class="btn btn-primary btn-lg btn-block" method="get" href="{{ url_for('login') }}">Login</a>
  <br>
  <p class="lead">Do you and your friends, teammates, or co-workers use multiple team chat applications?</p>
  <p class="lead">Have you ever wished that you could see their status in those multiple services so you could reach them more quickly wherever they are currently active?</p>
  <p class="lead">Friend Status shows their current status across three different team chat platforms:</p>
  <div class="lead">
  <li><a href="https://slack.com/">Slack</a></li>
  <li><a href="https://discord.com/">Discord</a></li>
  <li><a href="https://zulip.com/">Zulip</a></li>
    </div>
  <p>Uses boilerplate from: <a href="https://github.com/realpython/flask-boilerplate">https://github.com/realpython/flask-boilerplate</a> and code snippets from the documentation of the respective services and modules.</p>
  <p>Created by a beginner team for the <a href="https://hackor.org/">HackOR 2021 Hackathon</a>.</p>

{% endblock %}

<!-- <h1>Sticky footer with fixed navbar</h1>
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p> -->

Do you and your friends, teammates, or co-workers use multiple team chat applications?
Have you ever wished that you could see their status in those multiple services so you could reach them more quickly wherever they are currently active?
Friend Status is a web application that shows their current status across three different team chat platforms:

- [Slack](https://slack.com/)
- [Discord](https://discord.com/)
- [Zulip](https://zulip.com/)

We used boilerplate from: https://github.com/realpython/flask-boilerplate

We also used code samples from the documentation of the respective services.

This was created by a beginner team for the [HackOR 2021 Hackathon](https://hackor.org/).