{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>{{ user_name }}</h1>
<div class="page-header">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Friend</th>
      </tr>
    </thead>
    <tbody>
      {% for friend in friend_names %}
      <tr>
        <td><a href="{{ url_for('show_friend', friend=friend) }}">{{ friend }}</a></td>
      </tr>
      {% endfor %}
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>

{% endblock %}

<!-- <h1>Sticky footer with fixed navbar</h1>
</div>
<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p> -->