{% extends 'layouts/main.html' %}
{% block title %}Friend Status | {{ current_friend }}{% endblock %}
{% block content %}

<div class="page-header">
  <h1>{{ current_friend }}</h1>
  <div class="page-header">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Service</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Service</td>
                <td>Service_Status</td>
              </tr>  
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
      </table>

{% endblock %}
